
@import '../../../assets/components/login/login.css';

.alturalogin {
  height: 48rem;
}

@media (min-width: 375px){
  .alturalogin {
    height: 51rem;
  }
}

@media (min-width: 410px){
  .alturalogin {
    height: 52rem;
  }
}

@media (min-width: 424px){
  .alturalogin {
    height: 57rem;
  }
}

@media (min-width: 767px){
  .alturalogin {
    height: 64rem;
  }
}

@media (min-width: 765px){
  .alturalogin {
    height: 48rem;
  }
}

@media (min-width: 1023px){
  .alturalogin {
    height: 50rem;
  }
}

@media (min-width: 2560px){
  .alturalogin {
    height: 70rem;
  }
}

/* PC ACTUAL:OFICINA */
 @media all and (min-height: 935px) {
  .alturalogin {
      height: 58.5rem;
  }
  .formulario{
    height: 45rem;
  }
}

@media all and (min-height: 938px) {
  .alturalogin {
      height: 65rem;
  }
}


/* ALTURA CON SCRREN */
@media all and (min-height: 1080px) {
  .alturalogin {
      height: 67.5rem;
  }
  .formulario{
    height: 55rem;
  }

}

@media all and (min-height: 1081px) {
  .alturalogin {
      height: 80rem;
  }
}

@media all and (min-height: 1281px) {
  .alturalogin {
      height: 100rem;
  }
}

@media all and (min-height: 1400px) {
  .alturalogin {
      height: 200rem;
  }
}

/* alturas */


.alturalo{
  height:40rem;
}


@media all and (min-height: 884px) {


  .alturalo{
    height: 47.7rem;
  }

}


@media all and (min-height: 889px) {



  .alturalo{
    height: 50rem;
  }

}

@media all and (min-height: 1020px) {



  .alturalo{
    height: 55rem;
  }
}

@media all and (min-height: 1080px) {



  .alturalo{
    height: 60rem;
  }


}

@media all and (min-height: 1106px) {


  .alturalo{
    height: 70rem;
  }

}

@media all and (min-height: 1138px) {



  .alturalo{
    height: 70rem;
  }

}

@media all and (min-height: 1603px) {


  .alturalo{
    height: 100rem;
  }

}

