<app-loading></app-loading>
<div class=" relative  items-center ">
  <!-- header -->
  <section class="cebezeralogin xl:px-20 md:px-7 px-2 relative h-1/6 lg:mx-auto lg:container">
    <!-- logo -->
    <div class=" logo">
      <!-- iconologo -->
      <svg-icon class="object-contain lg:w-14 md:w-12 w-10" src="assets/img/login/fticon.svg"></svg-icon>
      <!-- nombrelogo   -->
      <div class="textlogo lg:text-lg md:text-base font-Poppins ">
        <div class="lg:text-2xl md:text-lg text-xs font-semibold"><span class="">Factu</span><span class="text-celeste-500">TED</span></div>
        <div class=" md:text-lg text-xs  font-semibold">[ T.T. TERRESTRE]</div>
      </div>
    </div>
    <!-- boton innovated -->
    <div class="   ">
      <a href="https://innovated.pe/#/home" target="_blank"
        class="botoninnovated  2xl:px-10 lg:px-7 lg:py-2 px-5 py-1 hover:bg-blue-50  "> Ir a Innovated
      </a>
    </div>
  </section>
  <!-- Imagen -  Formulario -->
  <section class="relative h-4/6 adorno flex justify-center w-full font-Poppins  xl:px-20 md:px-7  px-2   md:py-6 py-0 lg:mx-auto lg:container formulario  ">

    <div class="h-full flex items-center  ">
      <!-- contenedor del cuerpo -->
      <div class="contenedorcuerpo lg:gap-5 gap-2  flex md:flex-row flex-col  lg:space-y-6 space-y-2   lg:w-full lg:h-full ">

        <!-- imagen representativo -->
        <div class="2xl:w-8/12 md:w-7/12 xl:pr-20 w-full flex md:justify-start justify-center ">
          <img class="object-contain md:w-full w-2/5" src="assets/img/login/refe.png" alt="">
        </div>

        <!-- Datos a ingresar -->
        <div class="2xl:w-4/12 md:w-5/12 w-full xl:pl-20">
          <section class=" rounded-md lg:justify-start justify-center 2xl:pr-0 bg-white shadow-2xl border-2 border-plomo-50 xl:pb-9 pb-3 xl:pt-6 pt-0">

            <div class="flex justify-start  text-xl   px-5 lg:pt-5 pt-0 2xl:py-3 2xl:px-10 xl:px-12 w-full py-2">
              <img src="assets/img/login/mano.svg" alt="">
            </div>

            <!-- Bienvenida -->
            <div style="color: #13385D;" class="flex justify-start  text-xl font-Poppins font-semibold  px-5 lg:pt-5 pt-2 2xl:py-3 2xl:px-10 xl:px-12 w-full py-2">
              Hola, <br> Bienvenido a FactuTED
            </div>

            <!-- formulario -->
            <form [formGroup]="form" (ngSubmit)="login()"
              class=" space-y-4 2xl:py-3 2xl:px-10 xl:px-10 w-full py-4 px-5 ">


              <div class="relative  w-full focus-within:text-gray-600 text-gray-400">
                <input type="text"
                        class=" left-0 flex pr-4 font-Poppins py-3 text-sm border-1 focus:ring-gray-500 rounded-sm w-full  border-gray-300  focus:outline-none shadow text-gray-600"
                        [class.error]="rucInvalid"
                        placeholder="N° de Ruc"
                        required
                        formControlName="ruc"
                        id="rucLogin"
                        (keypress)="sfn.onlyNumberAllowed($event, 11)"
                        (keydown.enter)="$event.preventDefault()"
                        (keydown.enter)="sfn.onFocus('userLogin')">

                <div class="absolute top-4 pl-3 right-3 flex">
                  <svg-icon class="object-contain w-5" src="assets/img/login/icoruc.svg"></svg-icon>

                </div>
                <small *ngIf="rucInvalid" class="flex items-center animated fadeIn font-medium tracking-wide text-red-500 text-xs mt-1 ml-1"> Campo no válido ! </small>
              </div>


              <div class="relative  w-full focus-within:text-gray-600 text-gray-400">
                <input  type="text"
                        class=" left-0 flex pr-4 py-3  font-Poppins  text-sm border-1 focus:ring-gray-500 rounded-sm  w-full  border-gray-300  focus:outline-none shadow text-gray-600"
                        [class.error]="userInvalid"
                        placeholder="Usuario"
                        required
                        formControlName="usuario"
                        id="userLogin"
                        (keydown.enter)="$event.preventDefault()"
                        (keydown.enter)="sfn.onFocus('passLogin')">

                <div class="absolute top-4 pl-3 right-3 flex">
                  <svg-icon class="object-contain w-5" src="assets/img/login/icouser.svg"></svg-icon>
                </div>

                <small *ngIf="userInvalid" class="flex items-center animated fadeIn font-medium tracking-wide text-red-500 text-xs mt-1 ml-1"> Campo no válido ! </small>
              </div>


              <div class="relative  w-full focus-within:text-gray-600 text-gray-400">
                <input  type="password"
                        class="left-0 flex pr-4  font-Poppins  py-3 text-sm border-1 focus:ring-gray-500 rounded-sm  w-full  border-gray-300  focus:outline-none shadow text-gray-600"
                        [class.error]="passInvalid"
                        placeholder="Contraseña"
                        required
                        formControlName="password"
                        id="passLogin">

                <div class="absolute top-4 pl-3 right-3 flex">
                  <svg-icon class="object-contain w-5" src="assets/img/login/icopass.svg"></svg-icon>
                </div>

                <small *ngIf="passInvalid"  class="flex items-center animated fadeIn font-medium tracking-wide text-red-500 text-xs mt-1 ml-1"> Campo no válido ! </small>
              </div>


              <div class="flex items-center pt-2 md:pt-5 lg:pt-7 xl:pt-9">
                <button type="submit"
                        class="bg-azul-500 bg-celeste-500 text-white hover:bg-blue-600 text-sm focus:outline-none w-full px-5 py-3 rounded flex  items-center">
                  <span class="flex justify-center w-11/12 text-sm font-grande font-Poppins ">Ingresar</span>
                </button>
              </div>
            </form>

          </section>
        </div>
      </div>
    </div>
  </section>
  <!-- footer -->
  <section class="relative h-1/6">
    <footer class="text-white bottom-0 fixed w-full">
      <div class="flex justify-center">
        <svg class="w-full h-full  " viewBox="0 0 1440 69" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path opacity="0.1" fill-rule="evenodd" clip-rule="evenodd"
            d="M0 7.17345L48 14.9018C96 22.6301 192 38.0867 288 38.0867C384 38.0867 480 22.6301 576 12.3257C672 2.02124 768 -3.13097 864 2.02124C960 7.17345 1056 22.6301 1152 30.3584C1248 38.0867 1344 38.0867 1392 38.0867H1440V69H1392C1344 69 1248 69 1152 69C1056 69 960 69 864 69C768 69 672 69 576 69C480 69 384 69 288 69C192 69 96 69 48 69H0V7.17345Z"
            fill="#0099FF" />
        </svg>
        <div
          class="w-full absolute  lg:bottom-5 bottom-0 font-Poppins  text-azuloscuro-500  flex justify-center 2xl:text-base text-center md:text-sm text-xs">
          © 2021 Innovated. Todos los derechos reservados.</div>
      </div>
    </footer>
  </section>
</div>
