
.cebezeralogin {
  @apply flex flex-col sm:space-y-0 space-y-3 sm:flex-row items-center relative w-full justify-between  text-base py-5
}

.logo{
  @apply flex  justify-center gap-2 font-Roboto
}

.textlogo{
  @apply  font-medium  text-azuloscuro-500
}

.botoninnovated{
  @apply  object-contain  border-2 text-celeste-500 rounded-md border-celeste-500 items-center justify-center
}

.contenedorcuerpo{
  @apply   justify-between  items-center
}




