.flex-j {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.close {
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  padding: 2px;
  border-radius: 100%;
}

.descripcions {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #1c2b39;
}

.flex-{
  display: flex;
  align-items: center;
}

.desc-title{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12.5px;
  line-height: 25px;
  display: flex;
  color: #1C1C1D;
  width: 100%;
}


.desc-subti{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  color: #878788;
}

.bt-1{
  border-top: 1px solid #E7E7E7;
  width: 100%;
}


.estado{
  width: 96px;
  height: 27px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 14px;
  letter-spacing: 0.4px;
}


.activo {
  color: #2fc974;
  background: rgba(47, 201, 116, 0.1);
}
.inactivo{
  color: #FF450A;
  background: rgba(255, 69, 10, 0.1);
}

.color{
 width: 22px;
 height: 22px;
 border-radius: 4px;
 border:  2px solid white;
 box-sizing: border-box;
 border-radius: 4px;
 padding: 3px;
}

.amarillo{
  background: rgba(236, 174, 15, 0.9);
  border: 1px solid #b6bbc8;

}

.borderColor {
  border: 1px solid #b6bbc8;
}
