<header class="flex-j w-full">
  <span class="descripcions">Detalle de Sucursal</span>
  <button  matDialogClose class="close">
   <svg-icon class="w-10 h-10 text-gray-400" src="assets/svg/close.svg"></svg-icon>
  </button>
</header>

<main class="w-full max-w-4xl">
  <div class="flex- py-3">
    <div class="pers">
      <svg-icon class="w-5 h-5 " src="assets/svg/suc.svg"> </svg-icon>
    </div>
    <span class="descripcions ml-2 sm:ml-3 animate__animated animate__fadeIn">Sucursales</span>
  </div>

  <section class="grid grid-cols-2 gap-6 py-2">
    <div class=" flex flex-col items-start">
      <span class="desc-title">{{ data.sucursal }}</span>
      <span class="desc-subti">{{ data.direccion }}</span>
      <span class="desc-subti">{{ data.departamento }}/ {{ data.provincia }}/ {{ data.distrito }}</span>
    </div>
    <div class="flex flex-col">
      <span class="desc-title">Código de Anexo</span>
      <span class="desc-subti">{{data.codigoanexo }}</span>
    </div>
  </section>

  <hr class="bt-1">

  <section class="w-full py-2">
    <span class="desc-title">Especificación de sucursal</span>
    <span class="desc-subti">{{ data.puntoventa }}</span>
    <span class="desc-subti">{{ data.paradero }}</span>
    <span class="desc-subti">{{ data.paraderointermedio }}</span>
  </section>

  <hr class="bt-1">

  <section class="grid grid-cols-2 gap-6 py-2">

    <div class=" flex flex-col items-start">
      <span class="desc-title">Datos Adicionales</span>
      <span class="desc-subti">{{ data.comisionista ? 'Comisionista' : 'No comisionista'}}</span>
    </div>

    <div class="flex flex-col">
      <span class="desc-title">Porcentaje</span>
      <span class="desc-subti">{{ data.porcentajecomision }}%</span>
    </div>
  </section>

  <hr class="bt-1">

  <section class="grid grid-cols-2 gap-6 py-2">
    <div class=" flex flex-col items-start">
      <span class="desc-title">Color Asignado</span>
      <span [style.background]="data.color" class="color borderColor"></span>
    </div>
    <div class="flex flex-col">
      <span class="desc-title">Estado</span>
      <span [ngClass]="{'inactivo': !data.estado, 'activo': data.estado}" class="estado">{{  data.estado ? 'Activo' : 'Inactivo' }}</span>
    </div>
  </section>


</main>
