<main class="py-3 px-3 sm:px-8">
  <section
    class="section-p flex-col flex sm:flex-row items-center sm:justify-between border-b-1 border-gray-300 space-y-2 py-3 ">
    <div class="hidden sm:flex items-center w-full">
      <div class="pers">
        <svg-icon class="w-6 h-5 text-white" src="assets/svg/userss.svg"> </svg-icon>
      </div>
      <span class="operat ml-2 sm:ml-3 animate__animated animate__fadeIn">Personal Operativo</span>
    </div>
    <div class="flex items-center w-full justify-end  space-x-5">
      <!-- perfil usuario -->
      <button (click)="userProfile()" class="btn-perfil">
        <svg-icon class="w-6 h-6" src="assets/svg/perfil.svg"></svg-icon>
        <span class="ml-2">Perfil de usuario</span>
      </button>
      <!-- Filtrars -->
      <div class="relative inline-block text-left dropdown">
        <button  (click)="openFilterAndSendData()" class="btn-filtrar" style=" transition: 0.4s;">
          <svg-icon class="w-4 h-3" src="assets/svg/filtrar.svg"></svg-icon>
          <span class="ml-2">Filtrar</span>
        </button>
        <!-- dropdown  filter data -->
        <div
          class="opacity-0 invisible dropdown-menu transition-all duration-300 transform origin-top-right  h-full relative z-50">
          <app-filter-data *ngIf="openFilter" class="z-50" (closeForm)='openFilter = $event'> </app-filter-data>
        </div>
      </div>

      <!-- nuevo -->
      <input type="checkbox" id="chk">
      <label for="chk" class="btn-new">
        <svg-icon src="assets/svg/mas.svg"></svg-icon>
        <span class="ml-2">Nuevo</span>
      </label>


      <!-- modal deslizante perfil de usuario -->
      <section  class="menu " style="z-index: 100;" >
        <!-- titulo y cerrar -->
        <div class="conttitu">
          <!-- Titulo: Perfil de usuario -->
            <span class="titulop"> Perfil de usuario </span>
            <!-- Boton: Cerra Modal -->
            <span>
              <label  for="chk" class="hide-menu-btn" style="z-index: 1000;">
                <svg-icon class="" src="assets/svg/cerrar.svg"></svg-icon>
              </label>
            </span>
        </div>
        <!-- Contenido -->
        <div class=" pt-2 relative sm:pl-7">
          <!-- Acotacion: datos -->
          <div class="pt-5">
            <div class="cont-aco">
              <span class="svgdato"><svg-icon src="assets/svg/dat.svg"></svg-icon></span>
              <span class="tituloacota">Datos</span>
            </div>
            <div class="acotacion">Complete los siguientes campos.</div>
          </div>

          <!-- Datos -->
          <div class="cont-info">
            <!-- Combobox: Perfil de usuario -->
            <div class="cont-dato">
              <span class="cargo ">
                <span class="titulos" > Perfil de usuario</span>
                <button class="agperfil">
                  <span class=""><svg-icon src="assets/svg/masblue.svg"></svg-icon></span>
                  <span>agregar</span>
                </button>
              </span>
              <mat-select placeholder="Seleccione" class="seclect "
                  required>
                  <mat-option value="1" class="option-ch">Administrativo</mat-option>
                  <mat-option value="2" class="option-ch">Contador</mat-option>
                  <mat-option value="2" class="option-ch">Pulser o terramozo</mat-option>
                  <mat-option value="2" class="option-ch">Asistente</mat-option>
              </mat-select>
              <!-- <p  class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
            </div>

            <!-- Combobox: Nacionalidad -->
            <div class="cont-dato">
              <span class="titulos">Nacionalidad</span>
              <mat-select placeholder="Seleccione" class="seclect"
                  required>
                  <mat-option value="1" class="option-ch">Administrativo</mat-option>
                  <mat-option value="2" class="option-ch">Contador</mat-option>
                  <mat-option value="2" class="option-ch">Pulser o terramozo</mat-option>
                  <mat-option value="2" class="option-ch">Asistente</mat-option>
              </mat-select>
              <!-- <p  class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
            </div>

            <!-- Combo: Tipo de Documento -->
            <div class="cont-dato">
              <span class="titulos">Tipo de documento</span>
              <mat-select placeholder="Seleccione" class="seclect"
                  required>
                  <mat-option value="1" class="option-ch">Administrativo</mat-option>
                  <mat-option value="2" class="option-ch">Contador</mat-option>
                  <mat-option value="2" class="option-ch">Pulser o terramozo</mat-option>
                  <mat-option value="2" class="option-ch">Asistente</mat-option>
              </mat-select>
              <!-- <p  class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
            </div>

            <!-- Input: Numero de documento -->
            <div class="cont-dato">
              <span class="titulos">Número de documento</span>
              <input placeholder="Escribe" type="text" class="seclect ">
              <!-- <input placeholder="Escribe" type="text" class="seclect "> -->
            </div>

            <!-- Input:Apellidos -->
            <div class="cont-dato">
              <span class="titulos">Apellidos</span>
              <input placeholder="Escribe" type="text" class="seclect ">
            </div>

            <!-- Input: Nombres -->
            <div class="cont-dato">
              <span class="titulos">Nombres</span>
              <input placeholder="Escribe" type="text" class="seclect ">
            </div>

            <!-- Fecha Nacimiento -->
            <div class="sm:col-span-1 col-span-2 gap-3 w-full">
              <span class="titulos"> Fecha Nacimiento</span>
              <div class="flex w-full px-2 border border-gray-300 rounded ">
                  <input class="w-full px-2 py-2 text-sm placeholder-gray-500 focus:outline-none"
                      name="fechanacimiento"
                      placeholder="17/10/2020"
                      [matDatepicker]="fechanacimiento"
                      required
                      formControlName="fechanacimiento">
                  <mat-datepicker #fechanacimiento> </mat-datepicker>
                  <button type="button" (click)="fechanacimiento.open()" class="btncalender">
                      <svg-icon class="calendario" src="assets/svg/calendario.svg"></svg-icon>
                  </button>
              </div>
            </div>

            <!-- Input: Edad -->
            <div class="cont-dato">
              <span class="titulos">Edad</span>
              <input placeholder="Escribe" type="text" class="seclect ">
            </div>

            <!-- Input: Dirección -->
            <div class="campounico">
              <span class="titulos">Dirección</span>
              <input placeholder="Escribe" type="text" class="seclect">
            </div>

            <!-- Input: Departamento -->
            <div class="campounico">
              <span class="titulos">Departamento</span>
              <mat-select placeholder="Seleccione" class="seclect "
                  required>
                  <mat-option value="1" class="option-ch">Administrativo</mat-option>
                  <mat-option value="2" class="option-ch">Contador</mat-option>
                  <mat-option value="2" class="option-ch">Pulser o terramozo</mat-option>
                  <mat-option value="2" class="option-ch">Asistente</mat-option>
              </mat-select>
              <!-- <p  class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
            </div>

            <!-- Combo: Provincia -->
            <div class="cont-dato">
              <span class="titulos">Provincia</span>
              <mat-select placeholder="Seleccione" class="seclect"
                  required>
                  <mat-option value="1" class="option-ch">Administrativo</mat-option>
                  <mat-option value="2" class="option-ch">Contador</mat-option>
                  <mat-option value="2" class="option-ch">Pulser o terramozo</mat-option>
                  <mat-option value="2" class="option-ch">Asistente</mat-option>
              </mat-select>
              <!-- <p  class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
            </div>
            <!-- Combo: Distrito -->
            <div class="cont-dato  ">
              <span class="titulos">Distrito</span>
              <mat-select placeholder="Seleccione" class="seclect py-2 mr-2 px-2 mb-1 "
                  required>
                  <mat-option value="1" class="option-ch">Administrativo</mat-option>
                  <mat-option value="2" class="option-ch">Contador</mat-option>
                  <mat-option value="2" class="option-ch">Pulser o terramozo</mat-option>
                  <mat-option value="2" class="option-ch">Asistente</mat-option>
              </mat-select>
              <!-- <p  class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
            </div>
            <!-- Input: Celular -->
            <div class="cont-dato">
              <span class="titulos">Celular</span>
              <input placeholder="Escribe" type="text" class="seclect">
            </div>
            <!-- Input: Correo -->
            <div class="cont-dato">
              <span class="titulos">Correo</span>
              <input placeholder="Escribe" type="text" class="seclect">
            </div>
            <!-- Input: Licencia de conducir -->
            <div class="cont-dato">
              <span class="titulos">Licencia de conducir</span>
              <input placeholder="Escribe" type="text" class="seclect">
            </div>
            <!-- Combo: Sexo -->
            <div class="cont-dato">
              <span class="titulos">Sexo</span>
              <mat-select placeholder="Seleccione" class="seclect" required>
                  <mat-option value="1" class="option-ch">Administrativo</mat-option>
                  <mat-option value="2" class="option-ch">Contador</mat-option>
                  <mat-option value="2" class="option-ch">Pulser o terramozo</mat-option>
                  <mat-option value="2" class="option-ch">Asistente</mat-option>
              </mat-select>
              <!-- <p  class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
            </div>
            <!-- Input: Peso -->
            <div class="cont-dato">
              <span class="titulos">Peso</span>
              <input placeholder="Escribe" type="text" class="seclect ">
            </div>
          </div>

          <!-- Acotacion:Avatar-->
          <div class="pt-5">
            <div class="flex gap-2 items-center">
              <span class="tituloacota">Avatar</span>
            </div>
            <div class="acotacion">Seleccione un avatar para el personal.</div>
          </div>

          <!-- Avatar Imagen -->
          <div class="imgavatar">
            <button class="btnavatar">
              <img class="object-contain w-16" src="assets/img/avatar.png" alt="">
            </button>
            <div class="opc-ar-avatar">
                <button class=" btnAvatar  btnsubir ">Subir</button>
                <button class=" btnAvatar btnremover ">Remover</button>
            </div>
          </div>

          <!-- Acotación: Contrato -->
          <div class="pt-5">
            <div class="flex gap-2 items-center">
              <span class="tituloacota">Contrato</span>
            </div>
            <div class="acotacion">Seleccione las fechas del contrato de personal.</div>
          </div>

          <!-- Fechas -->
          <div class="grid grid-cols-2 gap-4 pt-4">

            <!-- Inicio Contrato -->
            <div class="sm:col-span-1 col-span-2 gap-3 w-full">
              <span class="titulos"> Inicio Contrato</span>
              <div class="flex w-full px-2 border border-gray-300 rounded ">
                  <input class="w-full px-2 py-2 text-sm placeholder-gray-500 focus:outline-none"
                      name="fechainiciocontrato"
                      placeholder="17/10/2020"
                      [matDatepicker]="fechainiciocontrato"
                      required
                      formControlName="fechainicio">
                  <mat-datepicker #fechainiciocontrato> </mat-datepicker>
                  <button type="button" (click)="fechainiciocontrato.open()" class="btncalender">
                      <svg-icon class="calendario" src="assets/svg/calendario.svg"></svg-icon>
                  </button>
              </div>
            </div>

            <!-- Termino Contrato -->
            <div class="sm:col-span-1 col-span-2 gap-3 w-full">
              <span class="titulos"> Termino Contrato</span>
              <div class="flex w-full px-2 border border-gray-300 rounded ">
                  <input class="w-full px-2 py-2 text-sm placeholder-gray-500 focus:outline-none"
                      name="fechaterminocontrato"
                      placeholder="17/10/2020"
                      [matDatepicker]="fechaterminocontrato"
                      required
                      formControlName="fechaterminocontrato">
                  <mat-datepicker #fechaterminocontrato> </mat-datepicker>
                  <button type="button" (click)="fechaterminocontrato.open()" class="btncalender">
                      <svg-icon class="calendario" src="assets/svg/calendario.svg"></svg-icon>
                  </button>
              </div>
            </div>
          </div>

          <!-- Acotacion: Personal con asignacion familiar -->
          <div class="pt-5">
            <div class="acotacion">Marque si el personal cuenta con asignación familiar</div>
          </div>

          <!-- checkbox: opciones de si y no -->
          <section class="flex  flex-col justify-start w-full" >
            <span><mat-checkbox formControlName="pepperoni" class="option-ch">Si</mat-checkbox></span>
            <span><mat-checkbox formControlName="pepperoni" class="option-ch">No</mat-checkbox></span>
          </section>

          <!-- Acotacion: Personal con asignacion familiar -->
          <div class="pt-5">
            <div class="acotacion">Marque si el personal cuenta con asignación familiar</div>
          </div>

          <!-- checkbox: opciones de onp y afp -->
          <section class="flex  flex-col justify-start w-full" >
            <span><mat-checkbox formControlName="pepperoni" class="option-ch">ONP</mat-checkbox></span>
            <span><mat-checkbox formControlName="pepperoni" class="option-ch">AFP</mat-checkbox></span>
          </section>

          <!-- Combo: Aseguradora -->
          <div class="col-span-2 gap-3 w-full pt-2 ">
            <span class="aseguradora">Aseguradora</span>
            <div class="sm:grid-cols-2 gap-x-8 gap-y-2">
              <div class="col-span-2">
                  <mat-select placeholder="Seleccione" class="seclect py-2 mr-2 px-2 mb-1 "
                      required>
                      <mat-option value="1" class="option-ch">Administrativo</mat-option>
                      <mat-option value="2" class="option-ch">Contador</mat-option>
                      <mat-option value="2" class="option-ch">Pulser o terramozo</mat-option>
                      <mat-option value="2" class="option-ch">Asistente</mat-option>
                  </mat-select>
                  <!-- <p  class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
              </div>
            </div>
          </div>


          <!-- Acotacion:Contacto familia-->
          <div class="pt-5">
            <div class="flex gap-2 items-center">
              <span class="tituloacota font-medium">Contacto Familiar</span>
            </div>
            <div class="acotacion">Completar los siguientes datos de un familiar.</div>
          </div>

          <!-- Datos: Contacto FAmiliar -->
          <div class="grid grid-cols-2  gap-4 pt-4">
            <!-- Combobox: Nacionalidad -->
            <div class="sm:col-span-1 col-span-2 gap-3 w-full  ">
              <span class="titulos">Tipo de documento</span>
              <div class="sm:grid-cols-2 gap-x-8 gap-y-2">
                <div class="col-span-2">
                    <mat-select placeholder="Seleccione" class="seclect py-2 mr-2 px-2 mb-1 "
                        required>
                        <mat-option value="1" class="option-ch">Administrativo</mat-option>
                        <mat-option value="2" class="option-ch">Contador</mat-option>
                        <mat-option value="2" class="option-ch">Pulser o terramozo</mat-option>
                        <mat-option value="2" class="option-ch">Asistente</mat-option>
                    </mat-select>
                    <!-- <p  class="text-red-700 text-xs italic"> Por favor rellene este campo.</p> -->
                </div>
              </div>
            </div>

            <!-- Input: Numero de documento -->
            <div class=" sm:col-span-1 col-span-2 gap-3 w-full  ">
              <span class="titulos">Número de documento</span>
              <div class="sm:grid-cols-2 gap-x-8 gap-y-2">
                  <div class="col-span-2">
                    <input placeholder="Escribe" type="text" class="seclect ">
                  </div>
              </div>
            </div>


            <!-- Input: Apellidos -->
            <div class=" sm:col-span-1 col-span-2 gap-3 w-full  ">
              <span class="titulos">Apellidos</span>
              <div class="sm:grid-cols-2 gap-x-8 gap-y-2">
                <div class="col-span-2">
                  <input placeholder="Escribe" type="text" class="seclect ">
                </div>
              </div>
            </div>
            <!-- Input: Nombres -->
            <div class=" sm:col-span-1 col-span-2 gap-3 w-full  ">
              <span class="titulos">Nombres</span>
              <div class="sm:grid-cols-2 gap-x-8 gap-y-2">
                <div class="col-span-2">
                  <input placeholder="Escribe" type="text" class="seclect ">
                </div>
            </div>
            </div>
            <!-- Input: Celular -->
            <div class=" sm:col-span-1 col-span-2 gap-3 w-full  ">
              <span class="titulos">Celular</span>
              <div class="sm:grid-cols-2 gap-x-8 gap-y-2">
                  <div class="col-span-2">
                    <input placeholder="Escribe" type="text" class="seclect ">
                  </div>
              </div>
            </div>
            <!-- Input: Dirección -->
            <div class=" sm:col-span-1 col-span-2 gap-3 w-full  ">
              <span class="titulos">Dirección</span>
              <div class="sm:grid-cols-2 gap-x-8 gap-y-2">
                  <div class="col-span-2">
                    <input placeholder="Escribe" type="text" class="seclect ">
                  </div>
              </div>
            </div>

          </div>

          <!-- botones cancelar y guardar -->
          <div class="btncg py-7 flex gap-3 justify-end">
            <button class="btncancelar">Cancelar</button>
            <button class="btnguardar">Guardar</button>
          </div>
        </div>
      </section>

    </div>
  </section>

  <div class="example-container overlay-scrollbar overscroll-x-auto mt-2">
    <table mat-table [dataSource]="dataSource">
      <!-- Nombre Sucursal -->
      <ng-container matColumnDef="Perfil usuario">
        <th mat-header-cell *matHeaderCellDef class="titles "> Perfil de usuario </th>
        <td mat-cell *matCellDef="let element">
          <span class="descrip">Administrador</span>
        </td>
      </ng-container>

      <!-- Apellidos y nombres -->
      <ng-container matColumnDef="Apellidos  Nombres">
        <th mat-header-cell *matHeaderCellDef class="titles"> Apellidos y Nombres </th>
        <td mat-cell *matCellDef="let element">
          <span class="descrip ">Fernandes Gonsales Ana María</span>
          <span class="descrip italic"> 72277322</span>
        </td>
      </ng-container>

      <!-- direccion -->
      <ng-container matColumnDef="direccion">
        <th mat-header-cell *matHeaderCellDef class="titles"> Dirección </th>
        <td mat-cell *matCellDef="let element">
          <span class="descrip ">Av. Luna Pizarro 453 - La Victoria</span>
          <span class="descrip italic"> Lima / Los Olivos / Independecia </span>
        </td>
      </ng-container>

      <!-- Celular -->
      <ng-container matColumnDef="celular">
        <th mat-header-cell *matHeaderCellDef class=" titles "> Celular </th>
        <td mat-cell *matCellDef="let element">
          <span class="descrip ">951540168</span>
        </td>
      </ng-container>

      <!-- Lic. Conducir -->
      <ng-container matColumnDef="lic conducir">
        <th mat-header-cell *matHeaderCellDef class="titles"> Lic. Conducir</th>
        <td mat-cell *matCellDef="let element">
          <span class="descrip ">0168</span>
        </td>
      </ng-container>
      <!-- asig personal -->
      <ng-container matColumnDef="asig personal">
        <th mat-header-cell *matHeaderCellDef class="titles"> Asig. Personal</th>
        <td mat-cell *matCellDef="let element">
          <!-- styles (si) -(no) -->
          <span class="descrip si">Si</span>
        </td>
      </ng-container>

      <!--  sis Pensiones -->
      <ng-container matColumnDef="sis Pensiones">
        <th mat-header-cell *matHeaderCellDef class="titles"> Sist. Pensiones</th>
        <td mat-cell *matCellDef="let element">
          <span class="descrip ">AFP</span>
          <span class="descrip italic"> Prima </span>
        </td>
      </ng-container>

      <!-- opciones-->
      <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef class="titles"> </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button (click)="seeDetail()" mat-menu-item class="btn-opcion">
              <mat-icon>details</mat-icon>
              <span>Ver detalle</span>
            </button>
            <button mat-menu-item class="btn-opcion">
              <mat-icon> border_color</mat-icon>
              <span>Editar Personal</span>
            </button>

            <button mat-menu-item class="colrs">
              <mat-icon>delete</mat-icon>
              <span>Eliminar</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="sticky top-0 z-20 border-b-1 border-gray-700"></tr>
      <tr mat-row *matRowDef="let row ; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[10, 15, 25]" showFirstLastButtons> </mat-paginator>
</main>

<!-- user Profile -->
<app-user-profile *ngIf="openUserProfile"  (closeForm)='openUserProfile = $event'> </app-user-profile>





















<style>
  .dropdown:focus-within .dropdown-menu {
      opacity: 1;
      transform: translate(0) scale(1);
      visibility: visible;
  }
</style>
