
.btn-new {
    width: 120px;
    height: 40px;
    background: #1491ed;
    box-shadow: 0px 1px 8px rgba(20, 145, 237, 0.15);
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    transition-duration: 2s;
    transition-property: background-color;
    box-shadow: 0px 1px 1px rgba(20, 146, 237, 0.61);
    cursor: pointer;
  }

  .btn-filtrar {
    width: 120px;
    height: 40px;
    background: #ffffff;
    border: 0.6px solid #b8bcc6;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #263b50;
    transition-duration: 2s;
    transition-property: background-color;
  }

  .btn-filtrar {
    width: 120px;
    height: 40px;
    background: #ffffff;
    border: 0.6px solid #b8bcc6;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #263b50;
    transition-duration: 2s;
    transition-property: background-color;
  }

  .btn-perfil {
    width: 170px;
    height: 40px;
    background: #ffffff;
    border: 0.6px solid #b8bcc6;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #263b50;
    transition-duration: 2s;
    transition-property: background-color;
    cursor: pointer;
  }

  .pers {
    background: #1491ed;
    box-shadow: 0px 1px 1px rgba(20, 146, 237, 0.61);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }

  .pers-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: flex-end;
    color: #4f4e4e;
  }

  .operat {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #212731;
  }

  table {
    width: 100%;
    font-family: Poppins;
  }

  .example-table-container {
    position: relative;
    max-height: 30vh;
    overflow: auto;
    padding: 0 10px;
  }

  .example-container {
    max-height: 65vh;
    overflow-y: auto;
  }

  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    padding: 6px 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }

  th.mat-header-cell[_ngcontent-gfx-c127],
  td.mat-cell[_ngcontent-gfx-c127],
  td.mat-footer-cell[_ngcontent-gfx-c127] {
    padding: 0 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-size: 0.77rem;
    font-family: poppis;
  }

  mat-row,
  mat-header-row,
  mat-footer-row,
  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    border-bottom-color: rgba(235, 235, 235, 0.822);
    font-size: 0.75rem;
    color: #575757;
  }

  .descrip {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px !important;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #252525;
  }

  .italic {
    font-family: Poppins;
    font-style: italic;
    font-weight: normal;
    display: flex;
    align-items: center;
    color: #8c8c8c;
  }

  .colssr {
    color: #b6bbc8;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px !important;
    line-height: 21px;
    display: flex;
    align-items: center;
  }

.estado{
    width: 96px;
    height: 27px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 14px;
  }

  .no {
    color: #8c8c8c;
  }

  .si{
    color: #252525;
  }

  .btn-opcion {
    font-family: Poppins !important;
    font-style: normal;
    font-weight: normal;
    font-size: 12.5px !important;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #575757;
  }

  .colrs {
    font-family: Poppins !important;
    font-style: normal;
    font-weight: normal;
    font-size: 12.5px !important;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #ea4747 !important;
  }

  .colrs mat-icon {
    color: #ea4747 !important;
  }

  .titles {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #a0a6b4 !important;
  }

  .overlay-scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  .scrollbar-hover::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hover:hover::-webkit-scrollbar {
    display: block;
  }

  .overlay-scrollbar::-webkit-scrollbar-thumb {
    background-color: #2A3E4B;
    border-radius: 10rem;
    /* border: 1px solid#E7EFF3; */
  }

  .overlay-scrollbar::-webkit-scrollbar-track-piece:start {
    background: #E7EFF3;
  }

  .overlay-scrollbar::-webkit-scrollbar-track-piece:end {
    background: #E7EFF3;
    border-radius: 10rem;
  }


  /* Menu deslizante : Perfil Usuario */
  #chk{
    display: none;
  }

  .show-menu-btn, .hide-menu-btn{
    display: block;
    cursor: pointer;
  }

  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    right: -100%;
    top:0;
    text-align: center;
    line-height: normal;
    transition: 0.7s;
    z-index: 10;
    overflow-y: auto;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    filter: drop-shadow(5px 5px 10px #444);
    font-family: 'Poppins';
  }

  @media (min-width: 768px){.menu{width: 60%;}}

  @media (min-width: 1144px){.menu{width: 40%;}}

  @media (min-width: 1080px){.menu{width: 40%;}}

  @media (min-width: 1740px){.menu{width: 30%;}}


.menupc {
    display: none;
    align-items: center;
    justify-content: center;
    border: 0.6px solid #B8BCC6;
    box-sizing: border-box;
    border-radius: 3px;
    width: 40px;
    height: 40px;
  }

  #chk:checked ~ .menu{
    right: 0;
    z-index: 10;
  }

  .conttitu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.25rem;
  }

  .titulop{
    color:#242424;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;
  }

  .cont-aco{
    display: flex;
    gap: 2;
    align-items: center;
  }


  @media (min-width: 768px){
    .svgdato{
      position: absolute;
      left: 0px;
      display: flex;
    }
  }

  .acotacion{
    color: #7B7D8A;
    display: flex;
    justify-content: start;
  }

  .tituloacota{
    color:#242424;
    font-size: 1.100rem;
    font-weight: 500;

  }

  .cont-info{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap:1rem;
    padding-top: 1rem;
  }

  .cont-dato{
    grid-column: span 2 / span 2;
    gap: 0.75rem;
    width: 100%;
  }

  @media (min-width: 640px){
    .cont-dato{
      grid-column: span 1 / span 1;

    }
  }

  .titulos{
    color:#333333;
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    justify-content: start;
  }


  .option-ch{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    display: flex;
    align-items: center;
     color: #000000;
}

.seclect {
  background: #FFFFFF;
  border: 0.7px solid #D3D3D3;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  color: #000000;
  text-align: left;
  width: 100%;
  padding-top:0.5rem;
  padding-bottom:0.5rem ;
  padding-left:0.5rem;
  padding-right:0.5rem ;
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
}

.mat-select {
  display: inline-block;
  width: 100% !important;
  outline: none;
}



.cargo{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #4A4A4A;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.agperfil{
  display: flex;
  color: #1491ED;
  gap:0.2rem;
  align-items: center;
}

.agperfil:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

/* Posicion centrado del icono del boton:calendario de inicio a fin */
.mat-datepicker-toggle-default-icon {
  display: flex;
  width: 100%;
  justify-content: center;
  vertical-align: middle !important;
}

/* Quitar el border del boton:calendario de inicio a fin */
.mat-focus-indicator:focus{
  border: none;
  outline:none;
}

.calendario{
  width: 1.5rem;
  height: 1.5rem;
  color: #949494;
  fill: currentColor;
  display: flex;
  justify-content: center;
}

.btnAvatar{
  border-color: 1px solid #C1C6CA;
}



.option-ch{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #000000;
}

.aseguradora{
  color: #D3D3D3;
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    justify-content: start;
}

.btncancelar{
  color: #252424;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: #B6BBC8;
}

.btnguardar{
  color:white;
  background-color: #B6BBC8;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.375rem;
}
.fechanac{
  display: flex;
  width: 100%;
  padding-left: 0.5rem ;
  padding-right: 0.5rem;
  border-width: 1px;
  border-color: #B9B9B9;
  border-radius: 0.25rem;
}

.inputfech{
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-placeholder-opacity: 1;
  color: rgba(107, 114, 128);
  /* color: rgba(107, 114, 128); */
}

.btncalender{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  padding: 0.25rem;
  transition: ease-in;
  transition-duration: 300ms;
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255,);
  border-radius: 9999px;
  cursor: pointer;
  outline: 2px solid transparent;
  outline-offset: 2px;
  height: 2.25rem;
  color: #263b50;
}

.btncalender:hover{
  --tw-border-opacity: 1;
  border-color: rgba(16, 185, 129);
  --tw-bg-opacity: 1;
  background-color: rgba(229, 231, 235);
  color: #263b50;

}

.btncalender:focus{
  --tw-border-opacity: 1;
  border-color: rgba(16, 185, 129);
  --tw-bg-opacity: 1;
  background-color: rgba(229, 231, 235);
  color: #263b50;
}

.campounico{
  grid-column: span 2 / span 2;
  gap: 0.75rem;
  width: 100%;
}

.imgavatar{
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 83.333333%;
  height: 100%;
}

.btnavatarsubir{
  display: flex;
  height: 100%;
  border-width:1px;
  align-items: center;
  border-radius: 0.375rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.50rem;
  padding-bottom: 0.50rem;
  border-color: 1px solid #C1C6CA;
  color: #1491ED;
}

.btnavataremover{
  display: flex;
  height: 100%;
  border-width:1px;
  align-items: center;
  border-radius: 0.375rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-color: 1px solid #C1C6CA;
  color: #252424;

}

.btnsubir{
  color: #1491ED;
}

.btnremover{
  color: #252424;
}

.opc-ar-avatar{
  display: flex;
  gap:0.75rem;
  height: 100%;
  align-items: center;
}
