<main class="relative w-full p-4 font-Poppins">
    <div class="absolute top-5 right-5 flex w-full justify-end">
        <button mat-dialog-close class="focus:outline-none flex items-center h-full">
            <svg width="30" height="30" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.2518 11.2518C11.3314 11.172 11.4259 11.1086 11.53 11.0654C11.6342 11.0222 11.7458 11 11.8585 11C11.9712 11 12.0828 11.0222 12.1869 11.0654C12.291 11.1086 12.3856 11.172 12.4652 11.2518L17.0002 15.7885L21.5352 11.2518C21.6149 11.1721 21.7095 11.1089 21.8136 11.0658C21.9177 11.0226 22.0293 11.0004 22.142 11.0004C22.2546 11.0004 22.3662 11.0226 22.4703 11.0658C22.5744 11.1089 22.669 11.1721 22.7487 11.2518C22.8284 11.3314 22.8916 11.426 22.9347 11.5301C22.9778 11.6342 23 11.7458 23 11.8585C23 11.9712 22.9778 12.0827 22.9347 12.1868C22.8916 12.2909 22.8284 12.3855 22.7487 12.4652L18.212 17.0002L22.7487 21.5352C22.8284 21.6149 22.8916 21.7095 22.9347 21.8136C22.9778 21.9177 23 22.0293 23 22.142C23 22.2546 22.9778 22.3662 22.9347 22.4703C22.8916 22.5744 22.8284 22.669 22.7487 22.7487C22.669 22.8284 22.5744 22.8916 22.4703 22.9347C22.3662 22.9778 22.2546 23 22.142 23C22.0293 23 21.9177 22.9778 21.8136 22.9347C21.7095 22.8916 21.6149 22.8284 21.5352 22.7487L17.0002 18.212L12.4652 22.7487C12.3855 22.8284 12.2909 22.8916 12.1868 22.9347C12.0827 22.9778 11.9712 23 11.8585 23C11.7458 23 11.6342 22.9778 11.5301 22.9347C11.426 22.8916 11.3314 22.8284 11.2518 22.7487C11.1721 22.669 11.1089 22.5744 11.0658 22.4703C11.0226 22.3662 11.0004 22.2546 11.0004 22.142C11.0004 22.0293 11.0226 21.9177 11.0658 21.8136C11.1089 21.7095 11.1721 21.6149 11.2518 21.5352L15.7885 17.0002L11.2518 12.4652C11.172 12.3856 11.1086 12.291 11.0654 12.1869C11.0222 12.0828 11 11.9712 11 11.8585C11 11.7458 11.0222 11.6342 11.0654 11.53C11.1086 11.4259 11.172 11.3314 11.2518 11.2518Z" fill="#434343"/>
                <circle cx="17" cy="17" r="16.5" stroke="#DDDDDD"/>
            </svg>
        </button>
    </div>
    <div class="flex w-full justify-center">
        <img class="object-contain w-16" src="assets/svg/validatos.gif" alt="images">
    </div>
    <div class="flex items-center justify-center flex-col py-2">
        <span class=" font-grande text-lg">Opps!</span>
        <span class=" pt-3">{{ data.message }}</span>
        <div class="items-center pt-4">
            <button (click)="continue()" type="button" mat-dialog-close class="bg-red-500 hover:bg-red-500 px-10 py-2 rounded-md text-white focus:outline-none">Entiendo</button>
        </div>
    </div>
   
</main>
