<main class="fixed inset-0 overflow-hidden z-50"  >  
          <div  class="absolute inset-y-0 right-0 max-w-full lg:max-w-lg  p-1 bg-white flex transition-transform duration-500 ease-in z-50" style="transition: 0.4s;" >
      <div class="relative w-full h-full overflow-y-auto overlay-scrollbar z-50">
            <div class="flex items-center w-full sticky top-0 bg-gray-50 px-2  justify-between py-2">
                <span class="sucursal-title">{{ body?.status }} Sucursal</span>
                <button (click)="closeFrm()" class="salir">
                    <svg-icon src="assets/svg/close.svg"></svg-icon>
                  </button>
              </div>
              <div class="px-4">
                <section class="border-b-1 border-gray-200 py-3 ">
                    <div class="flex space-x-2 items-center">
                       <svg-icon src="assets/svg/datos.svg">  </svg-icon>
                      <div class="flex flex-col ml-3">
                          <span class="datos">Datos</span>
                          <span class="sucrusal-subttl">Complete los siguientes campos.</span>
                      </div>
                    </div>
                </section>
                  <form [formGroup]="form" (ngSubmit)="saveSucursal()" class="ml-4">
                    <div class="grid grid-cols-1 gap-x-3 gap-y-2">
                         <!-- Nombre sucursal -->
                         <div class=" w-full sm:mb-1 ">
                             <label class="text-label">Nombre Sucursal</label>
                             <div>
                                 <input type="text"
                                        class="uppercase py-2 seclect w-full"
                                        [class.error]="officeInvalid"
                                        placeholder="Escribe"
                                        required
                                        formControlName="sucursal">
                             </div>
                             <span *ngIf="officeInvalid" class="errors"> Por favor rellene este campo. </span>
                         </div>
         
                         <!-- Departamento -->
                         <div class=" w-full sm:mb-1 ">
                             <label class="text-label">Departamento</label>
                             <div>
                                 <mat-select (selectionChange)="getProvince($event.value)" formControlName="iddepartamento" [class.error]="iddepartamentoInvalid" placeholder="Seleccione" class="seclect py-2 mr-2 px-2 mb-1 " required>
                                     <mat-option [value]="item.IDDepartamento" *ngFor="let item of listLocation"  class="option-ch">{{ item.departamento }}</mat-option>
                                 </mat-select>
                             </div>    
                              <span *ngIf="iddepartamentoInvalid"  class="errors" > Por favor rellene este campo. </span> 
                         </div>

                         <!-- Provincia -->
                         <div class="grid grid-cols-2 gap-x-3 gap-y-2">
                             <div class=" w-full sm:mb-1 ">
                                 <label class="text-label">Provincia</label>
                                 <div>
                                     <mat-select (selectionChange)="getDistrite($event.value)" formControlName="idprovincia" [class.error]="idprovinciaInvalid" placeholder="Seleccione" class="seclect py-2 mr-2 px-2 mb-1 " required>
                                         <mat-option [value]="item.idprovincia" *ngFor="let item of listProvince" class="option-ch">{{ item.provincia }}</mat-option>
                                     </mat-select>
                                 </div>    
                                  <span *ngIf="idprovinciaInvalid" class="errors" > Por favor rellene este campo. </span> 
                             </div>

                             <!-- Distrito -->
                             <div class=" w-full sm:mb-1 ">
                                 <label class="text-label">Distrito</label>
                                 <div>
                                     <mat-select formControlName="iddistrito" [class.error]="iddistritoInvalid" placeholder="Seleccione" class="seclect py-2 mr-2 px-2 mb-1 " required>
                                         <mat-option [value]="item.iddistrito" *ngFor="let item of listDistrite" class="option-ch">{{ item.distrito }}</mat-option>
                                     </mat-select>
                                 </div>    
                                  <!-- <span  class="errors" > Por favor rellene este campo. </span>  -->
                             </div>     
                         </div>
                         
                           <!-- Dirección -->
                         <div class=" w-full sm:mb-1 ">
                             <label class="text-label">Dirección</label>
                             <div>
                                 <input type="text" class="uppercase py-2 seclect w-full" [class.error]="direccionInvalid" placeholder="Escribe" required formControlName="direccion" >
                             </div>
                             <span *ngIf="direccionInvalid" class="errors"> Por favor rellene este campo. </span>
                         </div>
                    
                           <!-- Código Anexo -->
                         <div class=" w-full sm:mb-1 ">
                             <label class="text-label">Código Anexo</label>
                             <div>
                                 <input type="text" class="py-2 seclect w-full" [class.error]="codAnexoInvalid" placeholder="Escribe" required formControlName="codigoanexo" (keypress)="sfn.onlyNumberAllowed($event, 4)" >
                             </div>
                             <span *ngIf="codAnexoInvalid" class="errors"> Por favor rellene este campo. </span>
                         </div>         
                    </div>                
                 
                    <div class="flex flex-col py-3">
                        <span class="datos">Especificaciones de sucursal</span>
                        <span class="sucrusal-subttl">Seleccione las especificaciones correspondientes</span>
                     </div>
                    <section class="space-y-2  py-2 scrollbar-hover flex flex-col pl-2">
                        <mat-checkbox (change)="changeTypeOffice(item, $event.checked)" *ngFor="let item of listTypeOffice | async" [checked]="item.status" [formControlName]="item.alias" class="option-ch">{{ item.name }}</mat-checkbox>
                    </section>
     
                    <div class="flex space-x-2 items-center py-3">
                        <svg-icon src="assets/svg/adici.svg">  </svg-icon>
                        <div class="flex flex-col">
                            <span class="datos">Datos Adicionales</span>                
                        </div>
                    </div>
                      
                    <div class="flex flex-col py-3">
                        <span class="datos">Comisionista</span>
                        <span class="sucrusal-subttl">Active si esta sucursal es comisionista de esa manera podra ingresar un porcentaje de ganancia.</span>
                    </div>
     
                    <div class="py-2">
                        <mat-slide-toggle (change)="validateCommissionAgent($event.checked)" formControlName="comisionista" ><span class="toggle-activ"> {{ !form.value.comisionista ? 'Desactivado': 'Activado'}}</span></mat-slide-toggle>
                    </div>
     
                       <!-- porcentaje -->
                    <div class=" w-full sm:mb-1">
                        <label class="text-label">Porcentaje</label>
                        <fieldset [disabled]="!form.value.comisionista">
                            <input (input)="validatePorcentual(porcentual.value)"
                                   type="text"
                                   class="py-2 seclect w-full disabled"
                                   [class.error]="porcentajeInvalid"
                                   placeholder="%"
                                   formControlName="porcentajecomision"
                                   (keypress)="sfn.onlyNumberAllowed($event, 3)" #porcentual >
                        </fieldset>
                         <span *ngIf="porcentajeInvalid" class="errors"> Por favor rellene este campo. </span>
                     </div>


                    <div class="flex flex-col py-2">
                         <span class="datos">Color de Sucursal</span>
                         <span class="sucrusal-subttl">Elija un color para distinguir esta sucursal</span>
                    </div>     

                          <!-- color -->
                    <div class="flex items-center border-color py-4">
                     <input type="color" id="color" class="w-8 h-8 rounded-lg cursor-pointer" [class.error]="colorInvalid" placeholder="" required formControlName="color" >
                     <label class="color-ex ml-2" for="color">{{ form.value.color }}</label>
                    </div>
     
                    <div class="flex justify-center space-x-4 sm:justify-end py-8">
                        <!-- CANCELAR -->                 
                        <button (click)="closeFrm()" type="button" class="cancelar">
                            <span class="ml-1">Cancelar</span>
                        </button>
                        <!-- GUARDAR -->
                        <button type="submit"  class="guardar">
                            <span class="ml-1"> Guardar</span>
                        </button>
                     </div>
                 </form>  
              </div>
          </div>              
    </div>
    <div class="absolute  inset-0 bg-gray-500 bg-opacity-75 transition-opacity" style="z-index: 3;" aria-hidden="true"></div>
</main>

