.sucursal-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #242424;    
}

.salir{
    border: 1px solid gainsboro;
    padding: 2px;
    border-radius: 100%;
}

.datos{
    
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 18px;
display: flex;
align-items: center;
color: #242424;
}

.sucrusal-subttl{
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 21px;
display: flex;
align-items: center;
color: #7B7D8A;

}

.seclect {
    background: #FFFFFF;
    border: 0.7px solid #D3D3D3;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: #000000;
}


.text-label{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #333333;
}

.option-ch{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    display: flex;
    align-items: center;    
     color: #000000;
}



.overlay-scrollbar::-webkit-scrollbar {
    width: 6px;
    height:6px;
}

.scrollbar-hover::-webkit-scrollbar {
    display: none;
}

.scrollbar-hover:hover::-webkit-scrollbar {
    display: block;
}

.overlay-scrollbar::-webkit-scrollbar-thumb {
    background-color: #2A3E4B;
    border-radius: 10rem;
    /* border: 1px solid#E7EFF3; */
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:start {
    background: #E7EFF3;
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:end {
    background: #E7EFF3;
    border-radius: 10rem;
}

.guardar {
    width: 120px;
    height: 40px;
    background: #1491ed;
    box-shadow: 0px 1px 8px rgba(20, 145, 237, 0.15);
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    transition-duration: 2s;
    transition-property: background-color;
    box-shadow: 0px 2px 5px rgba(20, 146, 237, 0.61);
  }
  
  .cancelar {
    width: 120px;
    height: 40px;
    background: #ffffff;
    border: 0.6px solid #b8bcc6;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #263b50;
    transition-duration: 2s;
    transition-property: background-color;
  }
  
  