.dropdownconfiguraci {
    background: #ffffff;
    box-shadow: 0px 1.2px 3.6px rgba(0, 0, 0, 0.11),   0px 6.4px 14.4px rgba(0, 0, 0, 0.13);
    border-radius: 3px;
    width: 560px;   
  }

  .option-ch{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #4A4A4A;
    
  }

  .cargo{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #4A4A4A;
  }
  

  .btn-new {
    width: 120px;
    height: 36px;
    background: #1491ed;
    box-shadow: 0px 1px 8px rgba(20, 145, 237, 0.15);
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    transition-duration: 2s;
    transition-property: background-color;
    box-shadow: 0px 2px 5px rgba(20, 146, 237, 0.61);
  }
  
  .btn-filtrar {
    width: 120px;
    height: 36px;
    background: #ffffff;
    border: 0.6px solid #b8bcc6;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #263b50;
    transition-duration: 2s;
    transition-property: background-color;
  }
  
  .btn-quitar{
    width: 120px;
    height: 36px;
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #E03333;
    transition-duration: 2s;
    transition-property: background-color;
  }
  