
 <div class="absolute sm:right-0  mt-2 origin-top-right bg-white  dropdownconfiguraci  divide-y divide-gray-100 rounded-lg shadow-2xl border-2 border-gray-50 outline-none  z-50"
 aria-labelledby="headlessui-menu-button-1" id="headlessui-menu-items-117" role="menu">
 <div class="absolute right-4" style="top: -10px;">  <svg width="39" height="15" viewBox="0 0 39 15" fill="none"   xmlns="http://www.w3.org/2000/svg">    <path  d="M16.1233 1.29906C18.1607 -0.088146 20.8393 -0.0881447 22.8767 1.29906L37.6344 11.3468C39.2617 12.4548 38.4775 15 36.5088 15H2.49122C0.522471 15 -0.26173 12.4548 1.36564 11.3468L16.1233 1.29906Z"
             fill="white" />
     </svg>
 </div>
<div class=" flex flex-col px-4  mt-4">
  <div tabindex="0" class="py-2  font-Poppins" role="menuitem">
      <div class="flex space-y-2 flex-col w-full">
          <form [formGroup]="form" (ngSubmit)="continue()" action="">

             <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 w-full py-3" style="border-bottom: 1px solid #EAEAEA;" >
                 <span class="cargo whitespace-nowrap">Especificación Sucursal</span>
                 <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-8 gap-y-2">
                     <mat-checkbox formControlName="puntoventa" class="option-ch" >Punto de Venta</mat-checkbox>
                     <mat-checkbox formControlName="paradero" class="option-ch" >Paradero</mat-checkbox>
                     <mat-checkbox formControlName="paraderoIntermedio" class="option-ch" >Paradero Intermedio</mat-checkbox>
                 </div>
             </div>
             
             <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 w-full py-3" style="border-bottom: 1px solid #EAEAEA;" >
                <span class="cargo whitespace-nowrap">Comisionista</span>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-8 gap-y-2">
                    <mat-checkbox formControlName="comisionista" class="option-ch" >Comisionista</mat-checkbox>
                    <mat-checkbox formControlName="nocomisionista" class="option-ch" >No Comisionista</mat-checkbox>
                </div>
            </div>

            <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 w-full py-3"  >
                <span class="cargo whitespace-nowrap">Estado</span>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-8 gap-y-2">
                    <mat-checkbox formControlName="activo" class="option-ch" >Activo</mat-checkbox>
                    <mat-checkbox formControlName="inactivo" class="option-ch" >Inactivo</mat-checkbox>
                </div>
            </div>
           
            <div class="sm:flex justify-between items-center py-2">
                <button (click)="resetFilter()" type="button" class="btn-quitar whitespace-nowrap">Quitar todos filtros</button>
                <div class="flex items-center space-x-3">
                    <button (click)="closeFrm()" type="button" class="btn-filtrar">Cancelar</button>
                    <button type="submit" class="btn-new">Aplicar</button>
                </div>
            </div>              
          </form>          
      </div>
  </div>
</div>
</div>