<header class="flex-j w-full">
    <span class="descripcions">Nuevo Perfil de Usuario</span>
    <button  matDialogClose class="close">
     <svg-icon class="w-9 h-9 text-gray-400" src="assets/svg/close.svg"></svg-icon>
    </button>
  </header>
  <main>
    <form class="w-96">
        <div class="sm:mb-1 py-4">
            <label class="text-label">Denominación</label>
            <div>
                <input type="text"
                       class="py-2 seclect w-full"                            
                       placeholder="Escribe"
                       required >
            </div>
         
        </div>
    
    
        <div class="flex justify-center space-x-4 sm:justify-end py-3">
            <!-- CANCELAR -->                 
            <button  type="button" class="cancelar">
                <span class="ml-1">Cancelar</span>
            </button>
            <!-- GUARDAR -->
            <button type="submit"  class="guardar">
                <span class="ml-1"> Guardar</span>
            </button>
         </div>
     </form>  
  </main>
  