.flex-j {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .close {
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    padding: 2px;
    border-radius: 100%;
  }
  
  .descripcions {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #1c2b39;
  }
  
  .flex-{
    display: flex;
    align-items: center;
  }
  
  .desc-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12.5px;
    line-height: 25px;
    display: flex;
    color: #1C1C1D;
    width: 100%;
  }
  
  
  .desc-subti{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    color: #878788;
  }


  
.guardar {
    width: 120px;
    height: 36px;
    background: #1491ed;
    box-shadow: 0px 1px 1px rgba(20, 145, 237, 0.15);
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;   
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    transition-duration: 2s;
    transition-property: background-color;
    box-shadow: 0px 2px 5px rgba(20, 146, 237, 0.61);
  }

  .guardar:hover{
    background: #4fb4fc;
  }
  
  .cancelar {
    width: 120px;
    height: 36px;
    background: #ffffff;
    border: 0.6px solid #b8bcc6;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #263b50;
    transition-duration: 2s;
    transition-property: background-color;
  }

  .text-label{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #333333;
}

.seclect {
    background: #FFFFFF;
    border: 0.7px solid #D3D3D3;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: #000000;
}