.flex-j {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.close {
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  padding: 2px;
  border-radius: 100%;
}

.descripcions {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #1c2b39;
}

.flex- {
  display: flex;
  align-items: center;
}

.desc-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12.5px;
  line-height: 25px;
  display: flex;
  color: #1c1c1d;
  width: 100%;
}

.desc-subti {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  color: #878788;
}

.data {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #1c2b39;
}

.detail-profile {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color:   #1C1C1D;
}

.detail-descrip {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #878788;
}

.bg-detail{
background: #FBFBFB;
border: 1px solid #F0F3F7;
box-sizing: border-box;
}

.bb{  
border-bottom: 1px solid #f8f8f8;
}

.resal{
  color: #686868;
  font-weight: 500;
  padding-right: 3px;
}


.img-detail{
  width: 90px;
  height: 90px;
  border-radius: 100px;
  object-fit: cover;
}
.card-detail{
 align-items: center;
 padding: 10px;
}
