<header class="flex-j w-full">
  <span class="descripcions">Detalle de Personal</span>
  <button matDialogClose class="close">
    <svg-icon class="w-9 h-9 text-gray-400" src="assets/svg/close.svg"></svg-icon>
  </button>
</header>

<main class="max-w-3xl w-full">
  <div class="flex space-x-2 items-center py-3">
    <svg-icon src="assets/svg/data.svg"> </svg-icon>
    <span class="data">Datos</span>
  </div>

  <section class="grid grid-cols-3 gap-4 py-2">
    <div class="flex-col">
      <span class="detail-profile">Perfil de Usuario</span>
      <span class="detail-descrip">Administrador</span>
    </div>
    <div class="flex-col">
      <span class="detail-profile">Nacionalidad</span>
      <span class="detail-descrip">Peruana</span>
    </div>
    <div class="flex-col">
      <span class="detail-profile">Tipo de Documento</span>
      <span class="detail-descrip"> <span class="resal">DNI:</span>60594096 </span>
    </div>
  </section>
  <section class="grid grid-cols-3 gap-4 bg-detail  card-detail">
    <div class="flex col-span-2 items-center">
      <img class="img-detail"
        src="https://c1.thejournal.ie/media/2015/02/7-the-david-beckham-unicef-fund-launch-london-390x285.jpg" alt="">
        <div class="flex-col ml-8">
          <span class="detail-profile">Fernández Gonzales Ana Maria </span>
          <span class="detail-descrip"> <span class="resal">Dirección: </span>Av. Luna Pizarro 453 - La Victoria </span>
          <span class="detail-descrip">Lima/ Los olivos/ La Independencia</span>
        </div>  
      </div>
     

    <div class="flex-col col-span-1">
      <span class="detail-descrip"> <span class="resal">Género: </span> Femenino</span>
      <span class="detail-descrip"> <span class="resal">Fecha Nacimiento: </span> 04/04/1989</span>
      <span class="detail-descrip"> <span class="resal">Edad:  </span> 33 años</span>
    </div>
  </section>

  <section class="grid grid-cols-3 gap-4 bb py-2">
    <div class="flex-col">
      <span class="detail-profile">Más datos</span>
      <span class="detail-descrip">985 215 316</span>
      <span class="detail-descrip">fernandezgonzales15@gmail.com</span>
    </div>
    <div class="flex-col">
      <span class="detail-profile">Licencia de conducir</span>
      <span class="detail-descrip">-</span>
    </div>
    <div class="flex-col">
      <span class="detail-profile">Peso </span>
      <span class="detail-descrip">65 Kg</span>
    </div>
  </section>
  <section class="grid grid-cols-3 gap-4 bb py-2">
    <div class="flex-col">
      <span class="detail-profile">Contacto familiar</span>
      <span class="detail-descrip "> <span class="resal">Tipo de documeto: </span>--</span>
      <span class="detail-descrip "> <span class="resal">Número:  </span>71549826</span>
    
    </div>
    <div class="flex-col">
      <span class="detail-profile">Apellidos y Nombres</span>
      <span class="detail-descrip">Fernández Martin Jose</span>
    </div>
    <div class="flex-col">
      <span class="detail-profile">Otros datos </span>
      <span class="detail-descrip">951 315 356</span>
      <span class="detail-descrip">Av. bolivar1414 </span>
    </div>
  </section>
  <section class="grid grid-cols-3 gap-4  py-2">
    <div class="flex-col">
      <span class="detail-profile">Contrato</span>
      <span class="detail-descrip "> <span class="resal"> Inicio de contrato: </span>04/04/2020</span>
      <span class="detail-descrip "> <span class="resal"> Término de Contrato:</span>04/04/2020</span>
    </div>
    <div class="flex-col">
      <span class="detail-profile">Beneficios</span>
      <span class="detail-descrip">Sí, asignación familiar</span>
    </div>
    <div class="flex-col">
      <span class="detail-profile">Seguro</span>
      <span class="detail-descrip">AFP</span>
      <span class="detail-descrip "> <span class="resal"> Tipo:</span>Profuturo</span>
    </div>
  </section>


</main>