<app-loading></app-loading>

<main class="py-3 px-3 sm:px-8">
    <section class="section-p flex-col flex sm:flex-row items-center sm:justify-between border-b-1 border-gray-300 space-y-2 py-3 ">
        <div class="hidden sm:flex items-center w-full">
            <div class="pers">
                <svg-icon class="w-5 h-5 text-white" src="assets/svg/sucursal.svg"> </svg-icon>
            </div>
            <span class="operat ml-2 sm:ml-3 animate__animated animate__fadeIn">Sucursales</span>
        </div>

        <div class="flex items-center w-full justify-end  space-x-5">
           
             <!-- Filtrars -->
             <div class="relative inline-block text-left dropdown">
              <button  (click)="openFilterAndSendData()" class="btn-filtrar" style=" transition: 0.4s;">
                <svg-icon class="w-4 h-3" src="assets/svg/filtrar.svg"></svg-icon>
                <span class="ml-2">Filtrar</span>
              </button> 
              <!-- dropdown  filter data -->
              <div class="opacity-0 invisible dropdown-menu transition-all duration-300 transform origin-top-right  h-full relative z-50">
                <app-filterdata *ngIf="openFilter" [receiveData]="bodyFilter" class="z-50" (closeForm)='openFilter = $event' (responseok)="responseFilter($event)"> </app-filterdata>        
              </div>
            </div>

            <!-- nuevo -->
            <button (click)="editOffice(false)"  class="btn-new" >
              <svg-icon src="assets/svg/mas.svg"></svg-icon>
                <span class="ml-2"> Nuevo</span>
            </button>
        </div>
    </section>

    <div class="example-container overlay-scrollbar overscroll-x-auto mt-2">
        <table mat-table [dataSource]="dataSource" >
          <!-- Nombre Sucursal -->
          <ng-container matColumnDef="Nombre Sucursal">
            <th mat-header-cell *matHeaderCellDef class="titles "> Nombre Sucursal </th>
            <td mat-cell *matCellDef="let element" >
              <span class="descrip ">{{ element.sucursal }}</span>
            </td>
          </ng-container>

          <!-- Dirección -->
          <ng-container matColumnDef="Dirección">
            <th mat-header-cell *matHeaderCellDef class="titles" > Dirección </th>
            <td mat-cell *matCellDef="let element">
              <span class="descrip ">{{element.direccion  }}</span>
              <span class="descrip italic "> {{ element.departamento }} / {{ element.provincia }} / {{ element.distrito }}</span>
             </td>
          </ng-container>

          <!-- Especificación sucursal -->
          <ng-container matColumnDef="Especificación sucursal">
            <th mat-header-cell *matHeaderCellDef class="titles "> Especificación sucursal </th>
            <td mat-cell *matCellDef="let element">
              <span  class="descrip ">
                {{ element.puntoventa }} 
                {{ element.puntoventa && element.paradero ? '/' : ''  }}
                {{ element.paradero }}
                {{ (element.puntoventa || element.paradero) && element.paraderointermedio ? '/' : '' }}
                {{ element.paraderointermedio }} </span></td>
          </ng-container>

          <!-- Comisionista -->
          <ng-container matColumnDef="Comisionista">
            <th mat-header-cell *matHeaderCellDef class=" titles "> Comisionista (%) </th>
            <td mat-cell *matCellDef="let element">
              <!-- no comicionista  -->
              <span *ngIf="!element.comisionista" class="colssr "> No Comisionista</span>
              <!-- comisionista -->
              <span *ngIf="element.comisionista" class="descrip ">Comisionista</span>
              <span *ngIf="element.comisionista" class="descrip italic "> Porcentaje: {{ element.porcentajecomision }}%</span>
             </td>
          </ng-container>

          <!-- Estado -->
          <ng-container matColumnDef="Estado">
            <th mat-header-cell *matHeaderCellDef class="titles"> Estado</th>
            <td mat-cell *matCellDef="let element">
             <!-- styles (inactivo) -(activo) -->
              <span [ngClass]="{'inactivo': !element.estado, 'activo': element.estado}" class="estado">{{  element.estado ? 'Activo' : 'Inactivo' }}</span>
             </td>
          </ng-container>

          <!-- opciones-->
          <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef class="titles"> </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button (click)=" seeDetail(element)" mat-menu-item class="btn-opcion">
                  <mat-icon>details</mat-icon>
                  <span>Ver detalle</span>
                </button>
                <button (click)="editOffice(true, element)" mat-menu-item  class="btn-opcion">
                  <mat-icon> border_color</mat-icon>
                  <span>Editar sucursal</span>
                </button>

                <button (click)="activeOffice(element)"  mat-menu-item    class="btn-opcion">
                  <mat-icon *ngIf="!element.estado" >flash_on</mat-icon>
                  <mat-icon *ngIf="element.estado" >flash_off</mat-icon>
                  <span>{{ element.estado ? 'Desactivar' : 'Activar'  }} sucursal </span>
                </button>

                <button  (click)="deleteOffice(element)" mat-menu-item  class="colrs">
                  <mat-icon>delete</mat-icon>
                  <span>Eliminar</span>
                </button>
              </mat-menu>
             </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns" class="sticky top-0 z-20 border-b-1 border-gray-700"></tr>
          <tr mat-row *matRowDef="let row ; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div [ngClass]="{'hidden': !showPaginator}">
        <mat-paginator [pageSizeOptions]="[10, 15, 25]" showFirstLastButtons> </mat-paginator>
      </div>
</main>

<!-- Crear sucursal -->
<app-crearsucursal *ngIf="openOffice" [body]="body" (closeForm)='openOffice = $event' (responseok)="getOffce()"> </app-crearsucursal>

<style>
  .dropdown:focus-within .dropdown-menu {
      opacity: 1;
      transform: translate(0) scale(1);
      visibility: visible;
  }
</style>