@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Manrope&family=Poppins:wght@600&display=swap");
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './assets/components/login/login.css';
/* You can add global styles to this file, and also imp,ort other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Eliminar el spiket de los tipos number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Border de los input y textarea */
textarea:focus,
textarea[type]:focus,
input:focus,
input[type]:focus {
    border-color: #1491ED;
    box-shadow: 0 0.5px 1px rgba(229, 103, 23, 0.075) inset, 0 0 3px rgba(39, 145, 236);
    outline: 0 none;
}

input[type="number"] {
    -moz-appearance: textfield;
}


.mat-snack-bar-container {
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    margin: 10px;
    max-width: 33vw;
    min-width: 344px;
    padding: 5px 5px;
    min-height: 18px;
    transform-origin: center;
}

.mat-snack-bar-container {
    color: rgba(255, 255, 255, .7);
    background: #1491ed;
    border-radius: 3px;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
}



/* inicia validacion de  imputs */

 /* error */
.error {
   
    border-color: #e74c3c !important;
    color: #e74c3c !important;
    background: rgba(212, 82, 82, 0.123) !important;
}

.error:focus {
    box-shadow: 0 0 1px #d45252 !important;
    border-color: #e74c3c !important;
    color: #e74c3c !important;
}


/* succes */

.success {
    box-shadow: 0 0 3px #18A84C !important;
    border-color: #18A84C !important;
}

.success:focus {
    box-shadow: 0 0 3px #18A84C !important;
    border-color: #18A84C !important;
}


.errors{
    font-size: 11.5px;
    color: red;
    font-family: Poppins;
    font-weight: 400;
    margin-top: -10px;
}


.toggle-activ{   
    font-family: Poppins !important;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #252525;
}
.border-color{
    background: #FFFFFF;
    border: 1px solid #BCBABC;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 0 4px;
}

.color-ex{
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
color: #373737;
}


/* cambiar color  a cxhecbokx*/

.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #1491ed !important;
  }
  
  .mat-checkbox-checked.mat-accent .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #1491ed !important;
  }
  .mat-checkbox-ripple .mat-ripple-element,
  .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #1491ed !important;
  }



  /* cambiar color  a swick */

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgba(29, 136, 229, 0.397);
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: rgb(29, 135, 229);
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-ripple .mat-ripple-element {
    background-color: rgba(29, 135, 229, .2);
}



/* modal full screem */
@media screen and (max-width:425px){
    .full-screen-modal  {
        max-Width: 100vw !important;
        max-Height: 100vh!important;
        height: 100% !important;
        width: 100% !important;
      }
  }


.mat-drawer.mat-drawer-side {
    z-index: 1 !important;
}

.mat-drawer-side {
    border-right: solid 1px rgba(150, 150, 150, 0.12);
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(119, 159, 188, 0.1);
    transform: rotate(-90deg);
}

.disabled:disabled,
.disabled[disabled] {
  background-color: #cccccc;
  opacity: 0.5;
  color: rgba(0,0,0,.26);
}

.disabled:disabled,
.disabled[disabled] {
  background-color: hsla(0, 0%, 53%, 0.938) !important;
  opacity: 0.5;
  color: rgba(0, 0, 0, 0.801);
  cursor: not-allowed;
  pointer-events: none;
}

.not-active {

    opacity: 0.8;
    color: rgba(0,0,0,.26);
    cursor: not-allowed;
    pointer-events: none;
    border-bottom:3px solid  rgba(0,0,0,.26);

}